@font-face {
    font-family: 'Poppins';
    src: local(Poppins);
}

@font-face {
    font-family: 'Inter';
    src: local(Inter);
}

@font-face {
    font-family: 'Pacifico';
    src: local(Pacifico);
}

$header_font: 'Poppins',
Roboto,
Segoe UI,
Open Sans,
sans-serif;

$body_font: 'Inter',
Roboto,
Segoe UI,
Open Sans,
sans-serif;

$style_font: 'Pacifico', Cursive;

body {
    font-family: $body_font;
    font-display: fallback;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header_font;
    font-display: fallback;
}

.stylish-font {
    font-family: $style_font;
}