// Application color pallette //
$brand-white: #ffffff;
$brand-dark-grey: #393c4b;
$brand-light-grey: #f4f4f4;
$brand-faded-grey: #a8a8a8;
$brand-off-grey: #e4e4e4;
$brand-black: #272a30;
$brand-light-black: #30333c;
$brand-yellow: #d6c317;
$brand-green: #3ff3b7;
$brand-light-green: #ecfbf6;
$brand-red: #e64141;
$brand-blue: #3c8f9f;
$brand-sharp-grey: #1a1a1a;
$brand-sharp-dark: #101010;

// App Color Pallete
$app-color: () !default;
$app-color: map-merge(
  (
    "brand-white": $brand-white,
    "brand-dark-grey": $brand-dark-grey,
    "brand-light-grey": $brand-light-grey,
    "brand-faded-grey": $brand-faded-grey,
    "brand-off-grey": $brand-off-grey,
    "brand-black": $brand-black,
    "brand-light-black": $brand-light-black,
    "brand-yellow": $brand-yellow,
    "brand-green": $brand-green,
    "brand-light-green": $brand-light-green,
    "brand-red": $brand-red,
    "brand-blue": $brand-blue,
    "brand-sharp-grey": $brand-sharp-grey,
    "brand-sharp-dark": $brand-sharp-dark,
  ),
  $app-color
);

/*------------------------------------*\
	App Color Palette
\*------------------------------------*/
@each $color-name, $color in $app-color {
  .#{$color-name} {
    color: $color !important;
  }

  .#{$color-name}-bg {
    background-color: $color !important;
  }

  .border-#{$color-name} {
    border: 1px solid $color !important;
  }

  .border-top-#{$color-name} {
    border-top: 1px solid $color !important;
  }

  .border-bottom-#{$color-name} {
    border-bottom: 1px solid $color !important;
  }
}

/*------------------------------------*\
	Social Brand Color Palette
\*------------------------------------*/
$facebook-color: hsla(222, 47%, 40%, 1); // #365397
$twitter-color: hsla(198, 100%, 47%, 1); // #00a9f1
$linkedin-color: hsla(203, 100%, 35%, 1); // #006db3
$apple-color: hsla(0, 0%, 45%, 1); // #737373
$google-color: hsla(217, 89%, 61%, 1); // #4285f4
$google-plus-color: hsla(8, 74%, 53%, 1); // #e0452c
$youtube-color: hsla(0, 100%, 60%, 1); // #ff3333
$vimeo-color: hsla(200, 82%, 61%, 1); // #48b6ed
$pinterest-color: hsla(0, 78%, 45%, 1); // #ce1a19
$yelp-color: hsla(5, 100%, 38%, 1); // #c30f00
$dribbble-color: hsla(338, 82%, 60%, 1); // #ed4584
$amazon-color: hsla(36, 100%, 50%, 1); // #ff9700
$ebay-color: hsla(219, 89%, 30%, 1); // #083790
$skype-color: hsla(198, 100%, 48%, 1); // #00acf4
$instagram-color: hsla(208, 46%, 41%, 1); // #396d9a
$dropbox-color: hsla(206, 89%, 46%, 1); // #0d84de
$flickr-color: hsla(334, 100%, 46%, 1); // #ea0066
$github-color: hsla(0, 0%, 18%, 1); // #2f2f2f
$basecamp-color: hsla(121, 38%, 58%, 1); // #6bbd6d
$tumblr-color: hsla(210, 37%, 30%, 1); // #304c68
$foursquare-color: hsla(206, 72%, 45%, 1); // #207dc5
$box-color: hsla(204, 83%, 40%, 1); // #1277bc
$whatsapp-color: hsl(142, 70%, 49%);

$social-color: () !default;
$social-color: map-merge(
  (
    "facebook": $facebook-color,
    "twitter": $twitter-color,
    "linkedin": $linkedin-color,
    "apple": $apple-color,
    "google": $google-color,
    "google-plus": $google-plus-color,
    "youtube": $youtube-color,
    "vimeo": $vimeo-color,
    "pinterest": $pinterest-color,
    "yelp": $yelp-color,
    "dribble": $dribbble-color,
    "amazon": $amazon-color,
    "ebay": $ebay-color,
    "skype": $skype-color,
    "instagram": $instagram-color,
    "dropbox": $dropbox-color,
    "flickr": $flickr-color,
    "github": $github-color,
    "basecamp": $basecamp-color,
    "tumblr": $tumblr-color,
    "foursquare": $foursquare-color,
    "box": $box-color,
    "whatsapp": $whatsapp-color,
  ),
  $social-color
);

@each $color-name, $color in $social-color {
  .#{$color-name} {
    color: $color !important;
  }

  .#{$color-name}-bg {
    background-color: $color !important;
  }

  .border-#{$color-name} {
    border: 1px solid $color !important;
  }
}
