.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 toRem(16);
  
  @include breakpoint-up(xs) {
    padding: 0 toRem(24);
  }

  @include breakpoint-up(sm) {
    max-width: toRem(720);
    padding: 0 toRem(24);
  }
  
  @include breakpoint-up(md) {
    max-width: toRem(1080);
  }

  @include breakpoint-up(lg) {
    max-width: toRem(1200);
    padding: 0 toRem(32);
  }

  @include breakpoint-up(xl) {
    max-width: toRem(1280);
    padding: 0 toRem(20);
  }
}
